<!--
<div class="header-container">
<mat-toolbar color="primary">
  <button mat-icon-button color="white" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>imHealthy</h1>
  <span class="blank-space"> </span>
  <app-header></app-header>
</mat-toolbar>


<mat-sidenav-container class="sideNav-container">
  <mat-sidenav #snav class="left-nav" mode="side" opened>
    <app-user-info></app-user-info>
    <mat-nav-list [ngSwitch] = "level?.lev">
      <app-sys-level *ngSwitchCase="'sys'" ></app-sys-level>
      <app-sta-level *ngSwitchCase="'sta'" ></app-sta-level>
      <app-com-level *ngSwitchCase="'com'" ></app-com-level>
      <app-bhco-level *ngSwitchCase="'bhco'"></app-bhco-level>
      <app-mem-level *ngSwitchCase="'cmem'"></app-mem-level>
      <app-footer></app-footer>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--<app-create-bhco></app-create-bhco>-->
     <!--<app-demographic [questions]="questions"></app-demographic>-->
     <!--<app-social-network></app-social-network>-->
      <!--<app-create-c-mem></app-create-c-mem>-->
   <!-- </mat-sidenav-content>

  </mat-sidenav-container>

</div>-->
