<div class="workspace-container mid-position">
  <h3 class="workspace-title">Community Member Registration</h3>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>Create Family</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="familyGroup">
        <!--<app-input-control-box [attrContent]="inputAddress1" (follow)="getAddress1($event)"></app-input-control-box>-->
        <!--<app-input-control-box [attrContent]="inputAddress2" (follow)="getAddress2($event)"></app-input-control-box>-->
        <div *ngIf="isBlock; else disOpt">
          <app-select-control-box [attrContent]="selectBlock" (follow)="getBlock($event)"></app-select-control-box>
          <app-input-control-box [attrContent]="inputFamily" (follow)="getFamily($event)"></app-input-control-box>
          <app-input-control-box [attrContent]="inputAddress" (follow)="getAddress($event)"></app-input-control-box>
          <app-input-control-box [attrContent]="inputApt" (follow)="getApt($event)"></app-input-control-box>
        </div>
        <ng-template #disOpt>
          <app-select-default-box [attrContent]="defaultBlock"></app-select-default-box>
          <app-input-default-box [attrContent]="defaultFamily"></app-input-default-box>
        </ng-template>

        <br><br>
        <div class="col-sm-12">
          <button mat-raised-button color="primary" [disabled]="familyGroup.invalid" (click)="addFamily()">Submit</button>
          <button mat-raised-button color="accent">Reset</button>
        </div>
        <br><br>
        <div class="full-width" *ngIf="confirmed">
          <p> <strong>{{ familyPara }}</strong> has been created successfully.</p>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
