<div class="workspace-container mid-position">
  <h3 class="workspace-title">Edit Profile</h3>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>User Name: <b class="admin-name"> JerryHunt007 </b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--<h4>User Name: <b class="admin-name"> JerryHunt007 </b></h4>-->
      <div class="full-width">
        <mat-form-field class="col-sm-6">
          <input matInput placeholder="First Name" value="Jerry">
        </mat-form-field>
        <mat-form-field class="col-sm-6">
          <input matInput placeholder="Last Name" value="Hunt">
        </mat-form-field>
      </div>
      <div class="full-width">
        <mat-form-field class="col-sm-6">
          <input matInput placeholder="Phone" value="412-230-9340">
        </mat-form-field>
        <mat-form-field class="col-sm-6">
          <input matInput placeholder="Email" value="hongj@outlook.com">
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <button mat-raised-button color="primary" (click)="confirmChange()">Confirm Change</button>
        <button mat-raised-button color="accent" (click)="resetPassword()">Reset Password</button>
      </div>
      <br><br>

      <form [formGroup]="profileGroup" class="col-sm-12" *ngIf="needReset">
        <app-input-control-box [attrContent]="passWord" (follow)="getUserPassword($event)"></app-input-control-box>
        <app-input-control-box [attrContent]="confirmPassword" (follow)="getUserConPassword($event)"></app-input-control-box>
        <br><br>
        <div class="col-sm-12">
          <button mat-raised-button color="primary" [disabled]="profileGroup.invalid">Submit</button>
          <button mat-raised-button color="accent">Reset</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
