<div class="workspace-container mid-position">
  <h3 class="workspace-title">Profile</h3>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title><h4>Member/Administrator/BHCO profile</h4></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="full-width">
        <p class="col-sm-6">User Name: <b class="profile-title"> JerryHunt007</b></p>
        <p class="col-sm-6">User Role: <b class="profile-title"> Community Admin</b></p>
      </div>
      <div class="full-width">
        <p class="col-sm-6">First Name: <b class="profile-title"> Jerry </b></p>
        <p class="col-sm-6">Last Name: <b class="profile-title"> Hunt </b></p>
      </div>
      <div class="full-width">
        <p class="col-sm-6">Phone: <b class="profile-title"> 412-230-9340 </b></p>
        <p class="col-sm-6">Email: <b class="profile-title"> hongj@outlook.com </b></p>
      </div>
      <div class="full-width">
        <button mat-raised-button color="primary" (click)="editProfile()">Edit</button>
        <button mat-raised-button color="accent" (click)="resetPassword()">Reset Password</button>
      </div>
      <br>
      <div class="col-sm-12">

      </div>
    </mat-card-content>
  </mat-card>
</div>
