<div class="workspace-container mid-position">
  <div *ngIf="isLoad; else block">
    <mat-progress-spinner
      class="example-margin"
      [color]="color"
      [mode]="mode">
    </mat-progress-spinner>
  </div>

  <ng-template #block>
    <h3 class="workspace-title">Questionnaire</h3>
    <mat-card class="com-member-info">
      <mat-card-header>
        <div class="col-sm-12">
          <p class="com-member-detail">Community Member: <b class="com-member-detail-item"> {{member.name}} </b></p>
          <p class="com-member-detail">Gender: <b class="com-member-detail-item"> {{member.gender}} </b></p>
          <p class="com-member-detail">DOB: <b class="com-member-detail-item"> {{member.dob}} </b></p>
        </div>
      </mat-card-header>
    </mat-card>
    <div *ngIf="domain">
      <mat-toolbar class="full-width"><mat-progress-bar class="full-width" mode="determinate" value="40"></mat-progress-bar></mat-toolbar>
    </div>

    <br>
    <mat-card class="system-card">
      <mat-card-header>
        <div class="col-sm-12">
          <mat-card-title>{{ curDom }} Domain Questionnaire</mat-card-title>
        </div>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-content>
        <br>

        <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
          <mat-step [stepControl]="subdomain.subdomain" *ngFor="let subdomain of subdomainList">
            <form [formGroup]="form">
              <div [formGroupName]="subdomain.subdomain">
                <ng-template matStepLabel> {{subdomain.subdomain + 'Subdomain'}}</ng-template>
                <div *ngFor="let question of subdomain.questionnaire" class="col-sm-12">
                  <app-demo-question [question]="question" [form]="form.controls[subdomain.subdomain]"></app-demo-question>
                </div>
              </div>
              <div class="col-sm-12">
                <button  matStepperNext mat-raised-button color="primary">Next</button>
                <button  matStepperPrevious mat-raised-button color="accent"> Previous </button>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Confirmation</ng-template>
            <div class="col-sm-12">
              <p class="confirm">Congratulations, you have finished all the questions in this domain.</p>
              <p class="confirm">Please make sure to <strong style="color: #673ab7">SUBMIT</strong> your answer before going to next section.</p>
              <div *ngIf="isSubmitted" class="col-sm-12">
                <p class="confirm">Your answers have been submitted succefully.</p>
              </div>
              <br>
              <div class="col-sm-12">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
                <button mat-raised-button color="accent" (click)="backList()"> Continue </button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </ng-template>

</div>
