.example-container {
  /*display: flex;*/
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 5px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

/*.container {*/
  /*float: left;*/
/*}*/

.left-side-content {
  width: 70%;
  display: inline-block;
  float: left;
  overflow: auto;
  height: 600px;
  padding-left: 10px;
  padding-right: 10px;
}

.mid-space {
  width: 3%;
  display: inline-block;
  overflow: auto;
}

.right-side-nav {
  width: 20%;
  display: inline-block;
  overflow: auto;
  /*box-shadow: 0 20px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.filter-name {
  padding-top: 15px;
}

.mat-column-username {
  flex: 0 0 100px;
  padding-right: 10px;
}
