<div class="workspace-container mid-position">
  <h3 class="workspace-title">Edit Profile</h3>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>Resset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>User Name: Jane Doe</h4>
      <form [formGroup]="profileGroup">
        <app-input-control-box [attrContent]="passWord" (follow)="getUserPassword($event)"></app-input-control-box>
        <app-input-control-box [attrContent]="confirmPassword" (follow)="getUserConPassword($event)"></app-input-control-box>
        <br><br>
        <div class="col-sm-12">
          <button mat-raised-button color="primary" [disabled]="profileGroup.invalid">Submit</button>
          <button mat-raised-button color="accent">Reset</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
