<div [formGroup]="form">
  <div class="col-sm-12">
    <label [attr.for]="question.key">{{question.key + ". "+ question.label}}</label>
  </div>

  <ng-container [ngSwitch]="question.controlType">
    <mat-form-field *ngSwitchCase="'textbox'" class="col-sm-12">
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'" class="col-sm-12">
      <mat-select>
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">
          {{ opt.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group class="col-sm-12" *ngSwitchCase="'radiobutton'">
      <mat-radio-button class="radio-button" *ngFor="let opt of question.options" [value]="opt.key">
        {{opt.value}}
      </mat-radio-button>
    </mat-radio-group>

  </ng-container>

</div>

