<div class="header">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span class="title-icon"><mat-icon><a routerLink="/createQuestion">assignment_turned_in</a></mat-icon></span>
      <span class="title">Question Management</span>
      <span class="example-spacer"></span>
      <span matTooltip="Create Domains" [matTooltipPosition]="'left'"><a routerLink="/createQuestion/createDomain"><mat-icon class="example-icon">settings</mat-icon></a></span>
      <span matTooltip="Question Table" [matTooltipPosition]="'left'"><a routerLink="/createQuestion/questionTab"><mat-icon class="example-icon">list</mat-icon></a></span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
