.container {
  margin-top: 6%;
  margin-left: 5%;
}

.input-part {
  width: 90%;
  overflow: auto;
  left: 25px;
  margin-top: 10px;
}

.title-icon {
  left: 20px;
  padding-left: 20px;
  top: 14px;
  margin-top: 10px;
}

.title {
  margin-left: 10px;
}

.confirm-part {
  width: 90%;
  left: 25px;
  border-top: 20px;
  border-bottom: 20px;
}

.button-group {
  left: 25px;
  margin-left: 25px;
}

.confirm-info {
  font-size: 16px;
  color: #673ab7;
  margin-left: 3px;
}

p {
  font-size: 14px;
  margin-left: 3px;
}

.header {
  position: absolute;
  top: 0px;
  width: 100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
