<div class="workspace-container mid-position">
  <h3 class="workspace-title">Questionnaire Result</h3>
  <mat-card class="com-member-info">
    <mat-card-header>
      <div class="col-sm-12">
        <p class="com-member-detail">Community Member: <b class="com-member-detail-item"> {{member.name}} </b></p>
        <p class="com-member-detail">Gender: <b class="com-member-detail-item"> {{member.gender}} </b></p>
        <p class="com-member-detail">DOB: <b class="com-member-detail-item"> {{member.dob}} </b></p>
      </div>
    </mat-card-header>
  </mat-card>
  <br>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>Demographic Result</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-questionnaire-ans-table [category]="categoryName"></app-questionnaire-ans-table>
    </mat-card-content>
  </mat-card>
  <br>
</div>
