.title {
  color: #ffffff;
  background: #3f51b5;
  text-align: center;
}

.title-theme {
  background-color: #3f51b5;
}

.button-row {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-card {
  max-width: 400px;
  border-radius:15px;
  max-height: 400px;
  height:400px;
}

.basic-container {
  width:350px;
  height:400px;
  top: 40%;
  left: 50%;
  border-radius:15px;
  background: #3f51b5;
}


.card-title {
  font-size:18px;
  color: #3f51b5;
  top: 12%;
  left: 50%;

}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


.form-full-width {
  width: 100%;
}

.card-action {
  margin-left: auto;
  margin-right:auto;
  top: 51.4%;
  left: 50%;

}

.admin-tile {
  font-size: 19px !important;
}
