<div class="header-container">
  <mat-toolbar color="primary">
    <button mat-icon-button color="white" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>imHealthy</h1>
    <span class="blank-space"> </span>
    <app-header></app-header>
  </mat-toolbar>


  <mat-sidenav-container class="sideNav-container">
    <mat-sidenav #snav class="left-nav" mode="side" opened>
      <app-user-info></app-user-info>
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel class="panel-format">
            <mat-expansion-panel-header>
              <mat-panel-title> <a routerLink="createCom" routerLinkActive="active">
                <mat-icon class="main-icon">account_box</mat-icon> &nbsp;
                <span class="main-menu"> <h4>Create Account</h4> </span> </a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a routerLink="createCom" routerLinkActive="active">
            <button mat-menu-item color="white">
              <span>Community Admin</span>
            </button>
            </a>
            <a routerLink="createCommunity" routerLinkActive="active">
            <button mat-menu-item color="white">
                <span>Community</span>
            </button>
            </a>
          </mat-expansion-panel>

          <mat-expansion-panel class="panel-format">
            <mat-expansion-panel-header>
              <mat-panel-title> <a routerLink="comList" routerLinkActive="active">
                <mat-icon class="main-icon">trending_up</mat-icon> &nbsp;
                <span class="main-menu"> <h4>Tables</h4> </span> </a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a routerLink="comList" routerLinkActive="active">
            <button mat-menu-item color="white">
              <span>Community Admins</span>
            </button>
            </a>
            <a routerLink="bhcoList" routerLinkActive="active">
            <button mat-menu-item color="white">
                <span>BHCO</span>
            </button>
            </a>
            <a routerLink="memberList" routerLinkActive="active">
            <button mat-menu-item color="white">
                <span>Community Member</span>
            </button>
            </a>
          </mat-expansion-panel>
        </mat-accordion>

        <app-footer></app-footer>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>



</div>
