<div class="workspace-container mid-position">
  <h3 class="workspace-title">Member Summary Visualization</h3>
  <div class="sys-summary">
    <mat-card class="summary-info1">
      <mat-card-content>
        <h3 id="card-text">Registered Members</h3>
        <p id="card-title"><strong>{{memberNum}}</strong>
          <span id="card-detail">+5% more than last month</span></p>
      </mat-card-content>
    </mat-card>

    <mat-card class="summary-info2">
      <mat-card-content>
        <h3 id="card-text">Registered Families</h3>
        <p id="card-title"><strong>{{familyNum}}</strong>
          <span id="card-detail">+0.4% more than last month</span></p>
      </mat-card-content>
    </mat-card>

    <mat-card class="summary-info3">
      <mat-card-content>
        <h3 id="card-text">Registered Blocks</h3>
        <p id="card-title"><strong>{{blockNum}}</strong>
          <span id="card-detail">4.2% more than last month</span></p>
      </mat-card-content>
    </mat-card>

  </div>
  <br><br>
  <div class="graph-area">
    <mat-card class="system-card">
      <mat-card-header >
        <div class="col-sm-12">
          <mat-card-title>Community Summary</mat-card-title>
        </div>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-content>
        <div class="graph-area">
          <div class="left-chart">
            <h3>Age Distribution</h3>

          </div>
          <div class="right-chart">
            <h3>Basic Information</h3>
            <br> <br>

          </div>
        </div>
        <br><br>
        <div class="button-group">
        </div>

      </mat-card-content>
    </mat-card>
    <br>
  </div>
</div>
