<div class="workspace-container mid-position">
  <h3 class="workspace-title">Member Summary Visualization</h3>
  <div class="sys-summary">
    <mat-card class="summary-info1">
      <mat-card-content>
        <h3 id="card-text">Registered Members</h3>
        <p id="card-title"><strong>{{memberNum}}</strong>
          <span id="card-detail">+5% more than last month</span></p>
      </mat-card-content>
    </mat-card>

    <mat-card class="summary-info2">
      <mat-card-content>
        <h3 id="card-text">Registered Families</h3>
        <p id="card-title"><strong>{{familyNum}}</strong>
          <span id="card-detail">+0.4% more than last month</span></p>
      </mat-card-content>
    </mat-card>

    <mat-card class="summary-info3">
      <mat-card-content>
        <h3 id="card-text">Registered Blocks</h3>
        <p id="card-title"><strong>{{blockNum}}</strong>
          <span id="card-detail">4.2% more than last month</span></p>
      </mat-card-content>
    </mat-card>

  </div>
  <br><br>
  <div class="graph-area">
    <!--age distribution card on the left side -->
    <div class="left-card">
      <mat-card class="left-side-card">
        <mat-card-header>
          Member Age Distribution
        </mat-card-header>
        <mat-card-content>
          <div style="display: block; padding-top: 20px;" *ngIf="isBarChartLoading">
            <canvas baseChart
                    [data]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [colors]="barChartColors"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!--ratio card on the right side -->
    <div class="right-card">
      <mat-card class="right-side-card">
        <mat-card-header>
          Member Feature Analysis
        </mat-card-header>
        <mat-card-content>
          <div style="display: block; padding-top: 20px; padding-bottom: 13px" *ngIf="doughnutChartData && isLoading">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="selection-part">
            <p>Current feature: {{ selected }}</p>
            <form [formGroup]="selectForm">
              <mat-form-field class="col-sm-12">
                <mat-select [(ngModel)]= "selected" placeholder="Select the feature to display" formControlName="select">
                  <mat-option *ngFor="let opt of features" [value]="opt">{{ opt }}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
          <!-- Select features-->
        </mat-card-footer>
      </mat-card>
    </div>
    <br>
  </div>
</div>
