.sys-summary {
  width: 100%;
  height: 15%;
}

.summary-info1 {
  background-color: darkmagenta;
  width: 27%;
  height: 100%;
  float: left;
  border-right: 5px;
  border-left: 5px;
  padding-bottom: 3px;
  margin-right: 10px;
}

.summary-info1 #card-text {
  color: white;
}

.summary-info1 #card-title {
  color: white;
  font-size: 24px;
}

.summary-info1 #card-detail {
  font-size: 12px;
  color: white;
  margin-bottom: 3px;
}

.summary-info3 #card-text {
  color: white;
}

.summary-info3 #card-title {
  color: white;
  font-size: 24px;
}

.summary-info3 #card-detail {
  font-size: 12px;
  color: white;
  margin-bottom: 3px;
}

.summary-info2 {
  background-color: antiquewhite;
  width: 27%;
  height: 100%;
  float: left;
  border-right: 5px;
  border-left: 5px;
  padding-bottom: 3px;
  margin-right: 10px;
}

.summary-info2 #card-text {
  color: black;
}

.summary-info2 #card-title {
  color: black;
  font-size: 24px;
}

.summary-info2 #card-detail {
  font-size: 12px;
  color: black;
  margin-bottom: 3px;
}

.summary-info4 #card-text {
  color: black;
}

.summary-info4 #card-title {
  color: black;
  font-size: 24px;
}

.summary-info4 #card-detail {
  font-size: 12px;
  color: black;
  margin-bottom: 3px;
}

.summary-info3 {
  background-color: #673ab7;
  width: 27%;
  height: 100%;
  float: left;
  border-right: 5px;
  border-left: 5px;
  padding-bottom: 3px;
  margin-right: 10px;
}

.summary-info4 {
  background-color: lavender;
  width: 20%;
  height: 100%;
  float: left;
  border-right: 5px;
  border-left: 5px;
  padding-bottom: 3px;
  margin-right: 10px;
}

.graph-area {
  padding-top: 10px;
  overflow: auto;
}


.left-chart {
  width: 56%;
  float: left;
}

.right-chart {
  width: 42%;
  float: left;
}

.button-group {
  display: block;
  top: 60%;
  width: 100%;
}


.community-info {
  display: inline-block;
  width: 100%;
  float: left;
}

.left-side-card {
  width: 68%;
  overflow: auto;
  margin-right: 10px;
  float: left;
}

.right-side-card {
  width: 23%;
  overflow:auto;
  float: left;
}

agm-map {
  height: 300px;
}
