.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.left-nav {
  position: absolute;
  padding: 0 0px;
  width:250px;
  top: 0px;
}

.user-info {
  background: #673ab7;
  margin: 0px;
  width:100%;
  height: 25%;
  display: table;
  align-items: left;
  vertical-align: middle;
}

.user-img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 3%;
  left: 10%;
  vertical-align: middle;
}

.user-name {
  position: absolute;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  top: 12%;
  left: 10%;
}

.user-title {
  position: absolute;
  font-size: 12px;
  color: #fff;
  vertical-align: middle;
  top: 17%;
  left: 10%;
}

.panel-format {
  width: 100%;
}

.main-icon {
  float: left;
  vertical-align: middle;
  margin-top: 15px;
}

.main-menu {
  float: left;
  vertical-align: middle;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 0;
}

.copy-right {
  font-size: 10px;
}

.company {
  color:#3f51b5;
}
