<div class="workspace-container mid-position">
  <h3 class="workspace-title">Demographic</h3>
  <mat-card class="com-member-info">
    <mat-card-header>
      <div class="col-sm-12">
        <p class="com-member-detail">Community Member: <b class="com-member-detail-item"> {{ curMember.name }} </b></p>
        <p class="com-member-detail">Gender: <b class="com-member-detail-item"> {{curMember.gender}} </b></p>
        <p class="com-member-detail">DOB: <b class="com-member-detail-item"> {{curMember.dob}} </b></p>
      </div>
    </mat-card-header>
  </mat-card>
  <br>

  <mat-card class="system-card">
    <mat-card-header >
      <div class="col-sm-12">
        <mat-card-title>Demographic Form</mat-card-title>
      </div>
    </mat-card-header>
    <mat-divider> </mat-divider>
    <mat-card-content>
      <br>

        <!-- form group 1-->
        <!--Questions container-->
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div *ngFor="let question of questions" class="col-sm-12">
            <app-demo-question [question]="question" [form]="form"></app-demo-question>
          </div>
          <div class="col-sm-12">
            <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Submit</button>
            <button mat-raised-button color="accent" (click)="back()">Back</button>
          </div>
        </form>
        <br>
        <!--<div *ngIf="payLoad" class="form-row">-->
          <!--<strong>Saved the following values</strong><br>-->
          <!--{{payLoad}}-->
        <!--</div>-->
        <div *ngIf="isUpload">
          <strong>Demographic has been submitted successfully.</strong>
        </div>

    </mat-card-content>

  </mat-card>
</div>
