<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8" *ngIf="dataSource">

  <mat-table [dataSource]="dataSource" matSort>
    <!-- Question ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Question ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Question Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px"> Question </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="100px"> {{row.label}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Subdomain </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
    </ng-container>

    <!-- Answer Column -->
    <ng-container matColumnDef="answer">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Answer </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.result}} </mat-cell>
    </ng-container>

    <!--Subdomain Column -->
    <ng-container matColumnDef="subdomain">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Subdomain </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.subdomain}} </mat-cell>
    </ng-container>

    <!--Domain Column-->
    <ng-container matColumnDef="domain">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Domain </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.domain}} </mat-cell>
    </ng-container>


    <!--Weight Column-->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class="button-group">
  <button mat-raised-button color="primary" (click)="download()"> Download </button>
  <button mat-raised-button color="accent" (click)="back()">Back</button>
</div>
