<div class="workspace-container mid-position">
  <h3 class="workspace-title">Member Data Analysis</h3>
  <div class="sys-summary">
    <mat-card class="summary-info1">
        <mat-card-content>
          <h3 id="card-text">Registered States</h3>
          <p id="card-title"><strong>{{ stateNum }}</strong>
          <span id="card-detail">+5% more than last month</span></p>
        </mat-card-content>
    </mat-card>

    <mat-card class="summary-info2">
      <mat-card-content>
        <h3 id="card-text">Registered Communities</h3>
        <p id="card-title"><strong>{{ communityNum }}</strong>
          <span id="card-detail">+0.4% more than last month</span></p>
      </mat-card-content>
    </mat-card>

    <mat-card class="summary-info3">
      <mat-card-content>
        <h3 id="card-text">Registered BHCOs</h3>
        <p id="card-title"><strong>{{ bhcoNum }}</strong>
          <span id="card-detail">4.2% more than last month</span></p>
      </mat-card-content>
    </mat-card>

    <mat-card class="summary-info4">
      <mat-card-content>
        <h3 id="card-text">Registered Members</h3>
        <p id="card-title"><strong>{{ memberNum }}</strong>
          <span id="card-detail">2.8% more than last month</span></p>
      </mat-card-content>
    </mat-card>
  </div>
  <br><br>

  <div class="graph-area">
    <!--age distribution card on the left side -->
    <div class="left-card">
      <mat-card class="left-side-card">
        <mat-card-header>
          Community Member Completion By Time
        </mat-card-header>
        <mat-card-content>
          <div style="display: block; padding-top: 20px;">
            <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [chartType]="lineChartType"
                    [legend]="lineChartLegend"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!--ratio card on the right side -->
    <div class="right-card">
      <mat-card class="right-side-card">
        <mat-card-header>
          Member Feature Analysis
        </mat-card-header>
        <mat-card-content>
          <div style="display: block; padding-top: 20px; padding-bottom: 13px" *ngIf="isPieChartLoading">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="selection-part">
            <p>Current feature: {{ selected }}</p>
            <form [formGroup]="selectForm">
              <mat-form-field class="col-sm-12">
                <mat-select [(ngModel)]= "selected" placeholder="Select the feature to display" formControlName="select">
                  <mat-option *ngFor="let opt of features" [value]="opt">{{ opt }}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
          <!-- Select features-->
        </mat-card-footer>
      </mat-card>
    </div>
    <br>
  </div>

    <br>
    <div class="state-info">
    <mat-card class="left-side-bottom-card">
        <mat-card-header>State Distribution On Map</mat-card-header>
      <mat-card-content>
        <br>
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </mat-card-content>
    </mat-card>
      <mat-card class="right-side-bottom-card">
        <mat-card-header>State List</mat-card-header>
        <mat-card-content>
          <mat-selection-list #states style="height: 280px">
            <mat-list-option *ngFor="let item of stateList">
              <p> {{item.state}} <span class="state-member-count"> {{item.count}} </span> </p>
            </mat-list-option>
          </mat-selection-list>
          <p>
            Community selected: {{states.selectedOptions.selected.length}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  <br>
</div>
