.chart-area {
  width: 100%;
  float: left;
  overflow: auto;
}

.left-bar-chart {
  width: 55%;
  float: left;
  overflow: auto;
}

.right-radar-chart {
  width: 43%;
  float: left;
  height: 100%;
  vertical-align: center;
}

.bottom-table {
  width: 1000px;
}

.com-member-info {
  border-radius: 15px;
  height: 30px;
  border: #9d9bb7 solid;
}

.system-card {
  border-radius: 15px;
  overflow: auto;
}


.com-member-detail {
  float: left;
  width: 30.5%;
  margin-right: 18px;
}

.com-member-detail-item {
  padding-left: 15px;
}
