.domain-section {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  color: black;
}

a:hover {
  color: #673ab7;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-top: 6%;
  margin-left: 5%;
}

.input-part {
  width: 90%;
  overflow: auto;
  left: 25px;
  margin-top: 10px;
}

.title-icon {
  left: 20px;
  padding-left: 20px;
  top: 14px;
  margin-top: 10px;
}

.title {
  margin-left: 10px;
}


.header {
  position: absolute;
  top: 0px;
  width: 100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.createDomain {
  margin-left: 23px;
}


.system-card {
  overflow: auto;
}
