<div class="workspace-container mid-position">
  <h3 class="workspace-title">Question Management</h3>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>Domain and Subdomain List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Domain List-->
      <mat-accordion class="example-headers-align">
        <div *ngIf="domains">
          <div *ngFor="let dom of domains">
            <mat-expansion-panel hideToggle="true" >
              <mat-expansion-panel-header (click)="getSubdomains(dom.id)">
                <mat-panel-title>
                  {{ dom.domain }}
                </mat-panel-title>
                <mat-panel-description>
                  Expand to check the subdomain
                  <mat-icon>library_add</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!-- Subdomain content-->
              <div *ngIf="existSubdom; else newSubdomain">
                <mat-list *ngFor="let sub of subdomains">
                  <mat-list-item>
                    <span>{{ sub.subdomain }}</span>
                    <span class="example-spacer"></span>
                    <span matTooltip="check questions">
                      <a routerLink="/SysDashboard/question-list"><mat-icon class="example-icon" (click)="getSubdomId(sub)">insert_drive_file</mat-icon></a>
                    </span>
                    <button mat-icon-button (click)="deleteSubDom(sub)">
                      <span matTooltip="click to delete subdomain">
                        <mat-icon class="example-icon">delete</mat-icon>
                      </span>
                    </button>
                  </mat-list-item>
                </mat-list>
                <div *ngIf="newSub" class="full-width">
                  <form [formGroup]="subdomGroup">
                    <app-input-control-box [attrContent]="inputSubdomain" (follow)="getSubdomain($event)" class="col-sm-12"></app-input-control-box>
                    <button mat-button color="primary" (click)="addSubdomain(dom.id)">Submit</button>
                  </form>
                </div>
                <mat-action-row>
                  <button mat-button color="primary" (click)="needNewSubdomain()">Create New Subdomain</button>
                  <button mat-button color="accent" (click)="nextStep()">Next</button>
                </mat-action-row>
              </div>
              <ng-template #newSubdomain>
                <form [formGroup]="subdomGroup">
                  <app-input-control-box [attrContent]="inputSubdomain" (follow)="getSubdomain($event)" class="col-sm-12"></app-input-control-box>
                  <button mat-button color="primary" (click)="addSubdomain(dom.id)">Submit</button>
                </form>
                <mat-action-row>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </ng-template>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-accordion>
    </mat-card-content>

    <mat-card-footer>
      <br>
      <div class="createDomain">
        <button mat-raised-button color="accent" (click)="needNew()">Create New Domain</button>
        <button mat-raised-button color="primary" (click)="goback()">Back</button>
        <button mat-raised-button color="accenrt" (click)="calculate()">Done and Calculate</button>
        <br><br>
        <div *ngIf="newDomain" class="full-width">
          <form [formGroup]="domGroup">
            <app-input-control-box [attrContent]="inputDomain" (follow)="getDomain($event)" class="col-sm-6"></app-input-control-box>
            <button mat-raised-button color="basic" (click)="addDomain()">Submit</button>
          </form>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>

