<div class="workspace-container mid-position">
  <h3 class="workspace-title">Questionnaire</h3>
  <mat-card class="com-member-info">
    <mat-card-header>
      <div class="col-sm-12">
        <p class="com-member-detail">Community Member: <b class="com-member-detail-item"> {{member.name}} </b></p>
        <p class="com-member-detail">Gender: <b class="com-member-detail-item"> {{member.gender}} </b></p>
        <p class="com-member-detail">DOB: <b class="com-member-detail-item"> {{member.dob}} </b></p>
      </div>
    </mat-card-header>
  </mat-card>
  <br>
  <mat-card class="system-card">
    <mat-card-header >
      <div class="col-sm-12">
        <mat-card-title>Select Domain to Start Questionnaire</mat-card-title>
      </div>
    </mat-card-header>
    <mat-divider> </mat-divider>
    <mat-card-content>
      <br>
      <mat-nav-list>
        <div [ngSwitch]="user.role">
          <ng-container *ngSwitchCase="'bhco'">
            <a mat-list-item routerLink="/BhcoDashboard/questionnaire/{{dom.id}}" *ngFor="let dom of domains">
              <span>{{ dom.domain + ' Domain'}} </span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">create</mat-icon>
            </a>
            <a mat-list-item routerLink="/BhcoDashboard/individual-analysis">
              <span>Summary Visualization</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">assessment</mat-icon>
            </a>
            <a mat-list-item routerLink="/BhcoDashboard/question-ans">
              <span>Summary Table</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">list</mat-icon>
            </a>
          </ng-container>

          <ng-container *ngSwitchCase="'Community Administrator'">
            <a mat-list-item routerLink="/CommunityDashboard/individual-analysis">
              <span>Summary Visualization</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">assessment</mat-icon>
            </a>
            <a mat-list-item routerLink="/BhcoDashboard/question-ans">
              <span>Summary Table</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">list</mat-icon>
            </a>
          </ng-container>

          <ng-container *ngSwitchCase="'Community Member'">
            <a mat-list-item routerLink="/BhcoDashboard/individual-analysis">
              <span>Summary Visualization</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">assessment</mat-icon>
            </a>
            <a mat-list-item routerLink="/BhcoDashboard/question-ans">
              <span>Summary Table</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">list</mat-icon>
            </a>
          </ng-container>
        </div>
      </mat-nav-list>
      <br>
      <button mat-raised-button color="accent" (click)="back()">Back</button>
    </mat-card-content>
  </mat-card>
</div>
