<form [formGroup]="tempFormGroup">
  <ng-template matStepLabel>Question + {{attrContents.QNumber}}</ng-template>
  <!--Question 1 -->
  <h4>{{attrContents.QTitle}}</h4>
  <div class="full-width-block">
    <app-input-control-box [attrContent]="inputNumber" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputFirstName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputLastName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputMidName" class="col-sm-2"></app-input-control-box>
    <app-select-control-box [attrContent]="selectRelation" class="col-sm-2"></app-select-control-box>
    <app-input-check-box class="col-sm-2" [attrContent]="checkBlock"></app-input-check-box>
  </div>
  <div class="full-width-block">
    <app-input-control-box [attrContent]="inputNumber" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputFirstName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputLastName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputMidName" class="col-sm-2"></app-input-control-box>
    <app-select-control-box [attrContent]="selectRelation" class="col-sm-2"></app-select-control-box>
    <app-input-check-box class="col-sm-2" [attrContent]="checkBlock"></app-input-check-box>
  </div>
  <div class="full-width-block">
    <app-input-control-box [attrContent]="inputNumber" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputFirstName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputLastName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputMidName" class="col-sm-2"></app-input-control-box>
    <app-select-control-box [attrContent]="selectRelation" class="col-sm-2"></app-select-control-box>
    <app-input-check-box class="col-sm-2" [attrContent]="checkBlock"></app-input-check-box>
  </div>
  <div class="full-width-block">
    <app-input-control-box [attrContent]="inputNumber" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputFirstName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputLastName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputMidName" class="col-sm-2"></app-input-control-box>
    <app-select-control-box [attrContent]="selectRelation" class="col-sm-2"></app-select-control-box>
    <app-input-check-box class="col-sm-2" [attrContent]="checkBlock"></app-input-check-box>
  </div>
  <div class="full-width-block">
    <app-input-control-box [attrContent]="inputNumber" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputFirstName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputLastName" class="col-sm-2"></app-input-control-box>
    <app-input-control-box [attrContent]="inputMidName" class="col-sm-2"></app-input-control-box>
    <app-select-control-box [attrContent]="selectRelation" class="col-sm-2"></app-select-control-box>
    <app-input-check-box class="col-sm-2" [attrContent]="checkBlock"></app-input-check-box>
  </div>
</form>
