
  <!--<ng-template matStepLabel>{{question.key}}</ng-template>-->
  <h4>{{question.value}}</h4>
  <ng-container *ngIf="subform">
    <form [formGroup]="subform">
      <ng-container *ngFor="let item of question.answers" >
        <ng-container *ngIf="subform.controls[item.order]">
          <div class="full-width-block"  [formGroup]="subform.controls[item.order]">
            <app-input-control-box [attrContent]="inputNumber" class="col-sm-2"></app-input-control-box>
            <app-input-control-box [attrContent]="inputFirstName" class="col-sm-2"></app-input-control-box>
            <!--<app-input-control-box [attrContent]="inputLastName" class="col-sm-2"></app-input-control-box>-->
            <!--<app-input-control-box [attrContent]="inputMidName" class="col-sm-2"></app-input-control-box>-->
            <!--<app-select-control-box [attrContent]="selectRelation" class="col-sm-2"></app-select-control-box>-->
            <!--<app-input-check-box class="col-sm-2" [attrContent]="checkBlock"></app-input-check-box>-->
          </div>
        </ng-container>

      </ng-container>
    </form>
  </ng-container>


