<div class="workspace-container mid-position">
  <h3 class="workspace-title">Questionnaire Result</h3>
  <br>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>Select Domain</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Physical Domain">
          <div class="demo-tab-content">
            <app-questionnaire-ans-table></app-questionnaire-ans-table>
          </div>
        </mat-tab>
        <mat-tab label="Behavioral Domain">
          <div class="demo-tab-content">
            <app-questionnaire-ans-table></app-questionnaire-ans-table>
          </div>
        </mat-tab>
        <mat-tab label="Relational Domain">
          <div class="demo-tab-content">
            <app-questionnaire-ans-table></app-questionnaire-ans-table>
          </div>
        </mat-tab>
        <mat-tab label="Spiritual Domain">
          <div class="demo-tab-content">
            <app-questionnaire-ans-table></app-questionnaire-ans-table>
          </div>
        </mat-tab>
        <mat-tab label="Socio-economic Domain">
          <div class="demo-tab-content">
            <app-questionnaire-ans-table></app-questionnaire-ans-table>
          </div>
        </mat-tab>

      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>
